.form label {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.form input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid blue;
    border-radius: 10px;
}

.form textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 20px;
}

.form button {
    font-size: 20px;
    border-radius: 10px;
}