.about-info{
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    color:dimgrey;
}
.card-second-section h2{
    font-size: 16px;
    font-weight: bold;
    color: dimgray;
}
.card-second-section h4{
    font-size: 16px;
    font-weight: bold;
    color: dimgray;
}
.about-title{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    position: relative;
    color: transparent;
}
.about-title::before{
    content: 'ABOUT ME';
    position: absolute;
    white-space: nowrap;
    color: black;
    animation: aboutAnimation 3s linear infinite;
}

@keyframes aboutAnimation {
    0%{
        content: 'A|';
    }
    5%{
        content: 'AB|';
    }
    10%{
        content: 'ABO|';
    }
    15%{
        content: 'ABOU|';
    }
    20%{
        content: 'ABOUT|';
    }
    25%{
        content: 'ABOUT |';
    }
    30%{
        content: 'ABOUT M|';
    }
    35%{
        content: 'ABOUT ME|';
    }
    36%,
    92%{
        content: 'ABOUT ME|';
    }
    93%{
        content: 'ABOUT M|';
    }
    94%{
        content: 'ABOUT |';
    }
    95%{
        content: 'ABOUT|';
    }
    96%{
        content: 'ABOU|';
    }
    97%{
        content: 'ABO|';
    }
    98%{
        content: 'AB|';
    }
    99%{
        content: 'A|';
    }
    100%{
        content: 'A|';
    }
}